<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome to the Book Management System{% endblock %}</title>
    {% block stylesheets %}
        {# If you have any global CSS files, link them here #}
    {% endblock %}
</head>
<body>
<nav>
    <ul>
        <li><a href="{{ path('app_book_index') }}">View Books</a></li>
        <li><a href="{{ path('app_author_index') }}">View Authors</a></li>
        <li><a href="{{ path('app_country_index') }}">View Country</a></li>
        <li><a href="{{ path('app_book_author_index') }}">View Books & Authors</a></li>
    </ul>
</nav>

<div id="content">
    {% block body %}{% endblock %}
</div>

{% block javascripts %}
    {# If you have any global JavaScript files, link them here #}
{% endblock %}
</body>
</html>
